body
{
  color: white;
  background: rebeccapurple;
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_Gesture_name ,#result_Gesture_name2  
{
  color: black;
}
.Gesture_name
{
  font-size: 40px;
}
.Gesture
{
  font-size:48px;
}
